@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
    margin: 0;
    font-family: 'Lora', serif;
    overflow-x: hidden;
}

a{
    color: black;
    text-decoration: none;
}

.navbar{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.navbar a{
    font-style: none;
    text-decoration: none;
    color: white;
}

.alert-box{
    padding: 0.5%;
    margin: 1% 0 1% 0;
    border: 1px solid black;
}

button:focus {
    outline: none;
}

button{
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color:black;
    text-decoration: none;
}

button.button-primary{
    color:white;
    background-color: #3b70ff;
    border: 1px solid #3b70ff;
}

button.button-secondary{
    color:  #3b70ff;
    background-color: white;
    border: 1px solid #3b70ff;
}


.card-box{
    
    margin: auto;
    width: 50%;
    padding: 1%;
    box-shadow:  5px 10px 8px rgb(231 220 220);;
}

.light-blue{
    background-color: lightblue;
}

.light-green{
    background-color: lightgreen;
}


.light-golden-yellow{
    background-color: lightgoldenrodyellow;
}