@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
  margin: 0;
  font-family: 'Lora', serif;
  overflow-x: hidden;
}

a{
    color: black;
    text-decoration: none;
}

.navbar{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.navbar a{
    font-style: none;
    text-decoration: none;
    color: white;
}

.navbar h1,h2{
    padding-right: 1%;
    padding-top: 1%;
}

.navbar-right-side{
    display: flex;
    padding-top: 1%;
    padding-right: 2%;
}

.navbar-right-side h2{
    padding-right: 5%;
    white-space: nowrap;
}

.homepage-content{
    text-align:center ;
}

.homepage-content h1{
    font-size: xxx-large;
}

button:focus {
    outline: none;
}

.homepage-buttons button{
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.homepage-buttons a{
    color:black;
    text-decoration: none;
}

.docspage-content{
    display: flex;
}

.docspage-content button{
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.docspage-content button a{
    color:black;
    text-decoration: none;
}

.vertical-leftside-index{

}

.vertical-leftside-index{
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.vertical-leftside-index p{
    margin: 0;
    padding: 0;
    font-size: small;
}

.vertical-leftside-index h3{
    margin: 0;
    padding: 0;
}

.documentation{
    text-align: center;
    min-width: 60%;
    padding-left: 5%;
    padding-right: 5%;
}

.codesnippet-box{
    background-color: silver;
    min-height: 100px;
    padding: 0.5%;
    box-shadow: 5px 10px 8px rgb(231 220 220);
}

.docspage-content .copy-btn{
    float: right;
    padding: 1% 2% 1% 2%;
    background-color: rgb(5, 138, 226);
    
}

.copy-btn img{
    width: 10%;
    cursor: pointer;
}

.alert-box{
    padding: 0.5%;
    margin: 1% 0 1% 0;
    border: 1px solid black;
}

.light-green{
    background-color: lightgreen;
}

.light-blue{
    background-color: lightblue;
}