@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
  margin: 0;
  font-family: 'Lora', serif;
  overflow-x: hidden;
}
.navbar{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.navbar a{
    font-style: none;
    text-decoration: none;
    color: white;
}

.navbar h1,h2{
    padding-right: 1%;
    padding-top: 1%;
}

.navbar-right-side{
    display: flex;
    padding-top: 1%;
    padding-right: 2%;
}

.navbar-right-side h2{
    padding-right: 5%;
    white-space: nowrap;
}

.homepage-content{
    text-align:center ;
}

.homepage-content h1{
    font-size: xxx-large;
}

.homepage-buttons button{
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.homepage-buttons a{
    color:black;
    text-decoration: none;
}
